body > header {
  background: image-url("headerbg.jpg") left -50px no-repeat;
  background-color: $header-bg;
  text-shadow: 1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #000, -1px 0 0 #000;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
